*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    
}

.right-side {
    border: 3px solid white;
    padding: 64px 200px;
    background-color: black;
    color: white;
    flex: 1;
}

.left-side {
    background-image: linear-gradient(to top, rgba(11, 11, 11, 0), rgb(14, 14, 14)), url('login-bg-6.jpg');
    background-repeat: no-repeat;
    flex: 1;
    background-size: cover;
}

.register input[type = 'text'], input[type = 'email'], input[type = 'password'] textarea{
    margin-bottom: 24px;
    padding: 18px 30px;
    border: 0;
    width: 100%;

}

label {
    font-size: 20px;
}

.oxy {
    padding-top: 48px;
    padding-left: 40px;
    margin-bottom: 60px;
}

.description {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 36px;
    color: white;
}

.heading {
    display: inline-block;
}

.member-description {
    font-size: 18px;
    margin-bottom: 24px;
}

.login-link {
    margin-left: 8px;
    color: #0D6CFD;
}

a {
    text-decoration: none;
    font-size: 18px;
}

.register-acnt {
    margin-bottom: 24px;
}

.register-btn {
    margin-bottom: 24px;
    font-size: 14px;
    padding: 10px 40px;
    background-color: #0D6CFD;
    color: white;
    border-radius: 5px;

}

.apple-btn {
    padding: 10px 12px;
    border-radius: 5px;
}

hr {
    margin-bottom: 24px;
}

.register label {
    margin-bottom: 50px;
}

 


